---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";

import groww from "../assets/logos/groww.webp";
import mathongo from "../assets/logos/mathongo.png";
import plane from "../assets/logos/plane.png";
import vaizle from "../assets/logos/vaizle.jpeg";
import SectionHeading from "@/components/SectionHeading.astro";
import { SITE_DESCRIPTION } from "@/consts";

const featuredProjects = (await getCollection("projects"))
  .filter(({ data }) => data.featured != undefined && data.featured > -1)
  .sort((a, b) => (b.data.featured ?? 0) - (a.data.featured ?? 0));

const workExperience = [
  {
    company: "Groww",
    role: "SDE 1",
    description: "Contributing to react native (iOS) codebase",
    startDate: "Jul 2024",
    endDate: "Current",
    href: "https://groww.in",
    img: groww,
  },
  {
    company: "Groww",
    role: "SDE Intern",
    description: "Rebuilding CI infra and Core platform tasks for web",
    startDate: "Dec 2023",
    endDate: "Jun 2024",
    href: "https://groww.in",
    img: groww,
  },
  {
    company: "Plane",
    role: "Frontend Developer, Intern",
    description: "Crafting open source project management tool",
    startDate: "Mar 2023",
    endDate: "Apr 2023",
    href: "https://plane.so",
    img: plane,
  },
  {
    company: "MathonGo",
    role: "Frontend Developer, Intern",
    description: "Building online assessment platform",
    startDate: "Sep 2022",
    endDate: "Dec 2022",
    href: "https://www.mathongo.com",
    img: mathongo,
  },
  {
    company: "Vaizle",
    role: "Software Developer, Intern",
    description: "Developing social media analytics tool",
    startDate: "Jul 2022",
    endDate: "Sep 2022",
    href: "https://vaizle.com",
    img: vaizle,
  },
];
---

<BaseLayout>
  <section class="my-16">
    <div
      class="h-[28rem] md:h-[40rem] w-full rounded-md flex md:items-center md:justify-center antialiased bg-grid-white/[0.02] relative overflow-hidden"
    >
      <div class="p-4 max-w-7xl mx-auto relative z-10 w-full pt-20 md:pt-0 text-center">
        <video
          id="avatar"
          class="mx-auto h-28 w-28 rounded-full mb-6 border-1 border-neutral-200 dark:border-neutral-700"
          height="112"
          width="112"
          autoplay
          muted
          loop
        >
          <source src="/avatar.webm" type="video/webm" />
          <source src="/avatar.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <h1 class="text-4xl font-serif md:text-6xl font-semibold text-center">
          <span
            class="bg-clip-text text-transparent bg-gradient-to-b dark:from-neutral-50 dark:to-neutral-400 from-neutral-400 to-neutral-800 bg-opacity-50"
          >
            Hello, I'm Saheb
          </span>
          👋
        </h1>

        <p class="mt-4 font-normal text-base text-neutral-500 dark:text-neutral-300 max-w-lg text-center mx-auto">
          {SITE_DESCRIPTION}
        </p>
        <div class="mt-8">
          <a
            href="mailto:iamsahebgiri@gmail.com?subject=Hey Saheb, I have a project for you"
            target="_blank"
            class="mr-3 inline-flex py-2.5 items-center justify-center overflow-hidden rounded-xl bg-orange-600/90 hover:bg-orange-600 text-sm active:bg-orange-700 px-6 font-semibold text-neutral-50"
          >
            Let's talk
          </a>
          <a
            href="https://github.com/iamsahebgiri"
            title="Shut up and show me code"
            class="inline-flex py-2.5 px-6 items-center justify-center overflow-hidden rounded-xl text-sm font-semibold ring-1 text-neutral-600 bg-neutral-100/80 hover:bg-neutral-100 active:bg-neutral-200 ring-neutral-200 backdrop-blur dark:bg-neutral-800/90 dark:text-neutral-200 dark:ring-neutral-700 dark:hover:bg-neutral-800 dark:active:bg-neutral-900"
          >
            Github
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="my-16">
    <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
      {featuredProjects.map(({ data }) => <Project {...data} />)}
    </div>
  </section>
  <section class="mt-28">
    <SectionHeading> Experience </SectionHeading>

    <div class="space-y-8">
      {
        workExperience.map((experience, index) => (
          <div class="flex flex-col sm:flex-row">
            <div class="text-neutral-500 text-sm w-40">
              <span>{experience.startDate}</span> -
              <span class:list={[index === 0 && "font-bold"]}>{experience.endDate}</span>
            </div>
            <div class="inline-flex items-center gap-2 mt-1.5 sm:mt-0">
              <span class="text-sm text-neutral-900 dark:text-neutral-50">{experience.role}</span>
              <span class="text-neutral-500 text-sm">at</span>
              <a class="inline-flex gap-1 group" href={experience.href} rel="noreferrer nofollow" target="_blank">
                <Image
                  class="w-5 h-5 rounded-md inline-block neutralscale group-hover:neutralscale-0 transition-all duration-200"
                  src={experience.img}
                  alt={experience.description}
                  height="28"
                  width="28"
                  title={experience.description}
                />
                <span class="text-sm text-neutral-500 group-hover:text-neutral-900 dark:group-hover:text-neutral-50 transition-all duration-200">
                  {experience.company}
                </span>
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
