---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";
import Spotlight from "../components/Spotlight.astro";

import groww from "../assets/logos/groww.webp";
import mathongo from "../assets/logos/mathongo.png";
import plane from "../assets/logos/plane.png";
import vaizle from "../assets/logos/vaizle.jpeg";

const featuredProjects = await getCollection("projects", ({ data }) => {
  return data.featured === true;
});
// FIXME: fix types
featuredProjects.sort((a, b) => (a.data as any).order - (b.data as any).order);

const workExperience = [
  {
    company: "Groww",
    role: "SDE 1",
    description: "Contributing to react native (iOS) codebase",
    startDate: "Jul 2024",
    endDate: "Current",
    img: groww,
  },
  {
    company: "Groww",
    role: "SDE Intern",
    description: "Rebuilding CI infra and Core platform tasks for web",
    startDate: "Dec 2023",
    endDate: "Jun 2024",
    img: groww,
  },
  {
    company: "Plane",
    role: "Fellow, Frontend",
    description: "Crafting open source project management tool",
    startDate: "Mar 2023",
    endDate: "Apr 2023",
    img: plane,
  },
  {
    company: "MathonGo",
    role: "Frontend Engineer, Intern",
    description: "Building online learning platform",
    startDate: "Sep 2022",
    endDate: "Dec 2022",
    img: mathongo,
  },
  {
    company: "Vaizle",
    role: "Software Developer, Intern",
    description: "Developing social media analytics tool",
    startDate: "Jul 2022",
    endDate: "Sep 2022",
    img: vaizle,
  },
];
---

<BaseLayout>
  <Spotlight classx="left-30 -top-20 md:left-60 lg:left-96 lg:-top-20" fill="orange" />
  <section class="my-16">
    <div
      class="h-[28rem] md:h-[40rem] w-full rounded-md flex md:items-center md:justify-center antialiased bg-grid-white/[0.02] relative overflow-hidden"
    >
      <div class="p-4 max-w-7xl mx-auto relative z-10 w-full pt-20 md:pt-0 text-center">
        <video
          id="avatar"
          class="mx-auto h-28 w-28 rounded-full mb-6 border"
          height="112"
          width="112"
          autoplay
          muted
          loop
        >
          <source src="/avatar.webm" type="video/webm" />
          <source src="/avatar.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <h1 class="text-4xl font-serif md:text-6xl font-semibold text-center">
          <span
            class="bg-clip-text text-transparent bg-gradient-to-b dark:from-neutral-50 dark:to-neutral-400 from-neutral-400 to-neutral-800 bg-opacity-50"
          >
            Hello, I'm Saheb
          </span>
          👋
        </h1>

        <p class="mt-4 font-normal text-base text-neutral-500 dark:text-neutral-300 max-w-lg text-center mx-auto">
          I help growing businesses, agencies, and studios execute their vision with scalable apps, clean code, and fast
          delivery.
        </p>
        <div class="mt-8">
          <a
            href="mailto:iamsahebgiri@gmail.com?subject=Hey Saheb, I have a project for you"
            target="_blank"
            class="mr-3 inline-flex py-2.5 items-center justify-center overflow-hidden rounded-full bg-orange-600/90 hover:bg-orange-600 text-sm active:bg-orange-700 px-6 font-semibold text-neutral-50"
          >
            Let's talk
          </a>
          <a
            href="https://github.com/iamsahebgiri"
            title="Shut up and show me code"
            class="inline-flex py-2.5 px-6 items-center justify-center overflow-hidden rounded-full text-sm font-semibold ring-1 text-neutral-600 bg-neutral-100/80 hover:bg-neutral-100 active:bg-neutral-200 ring-neutral-200 backdrop-blur dark:bg-neutral-800/90 dark:text-neutral-200 dark:ring-white/10"
          >
            Github
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="my-16">
    <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
      {featuredProjects.map(({ data }) => <Project {...data} />)}
    </div>
    <h2 class="mt-12 mb-6 text-2xl font-serif font-bold text-neutral-900 dark:text-neutral-50">Experience</h2>
    <div
      class="inline-block w-full max-w-full overflow-hidden align-middle bg-white/90 backdrop-blur dark:bg-neutral-800 ring-1 ring-neutral-900/5 dark:ring-white/10 shadow rounded-lg"
    >
      <table class="w-full">
        <tbody class="bg-white/90 backdrop-blur dark:bg-neutral-800">
          {
            workExperience.map((experience, index) => (
              <tr class="bg-white/90 backdrop-blur dark:bg-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700/90 transform duration-150 border-b border-neutral-900 dark:border-neutral-900/10 last:border-0">
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 w-10">
                      <Image
                        class="w-10 h-10 rounded-md"
                        src={experience.img}
                        alt={experience.company}
                        height="40"
                        width="40"
                        title={experience.description}
                      />
                    </div>
                    <div class="ml-4">
                      <div class="text-sm leading-5 font-medium text-neutral-900 dark:text-neutral-100">
                        {experience.role}
                      </div>
                      <div class="text-sm leading-5 text-neutral-500 dark:text-neutral-400">{experience.company}</div>
                    </div>
                  </div>
                </td>
                {/* <td class="px-6 py-4 whitespace-no-wrap hidden lg:table-cell">
                    <div class="text-sm leading-5 text-neutral-800 dark:text-neutral-300">
                      {experience.description}
                    </div>
                  </td> */}
                <td class="px-6 py-4 whitespace-no-wrap text-neutral-600 dark:text-neutral-500 text-sm text-right">
                  <span class="">{experience.startDate}</span> -
                  <span class:list={[index === 0 && "font-bold"]}>{experience.endDate}</span>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </section>
</BaseLayout>
