---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";

import groww from "../assets/logos/groww.webp";
import mathongo from "../assets/logos/mathongo.png";
import plane from "../assets/logos/plane.png";
import vaizle from "../assets/logos/vaizle.jpeg";

import clouds from "../assets/clouds.png";
import map from "../assets/map.png";
import growwLeather from "../assets/frame_014.png";

const featuredProjects = await getCollection("projects", ({ data }) => {
  return data.featured === true;
});
// FIXME: fix types
featuredProjects.sort((a, b) => (a.data as any).order - (b.data as any).order);

const workExperience = [
  {
    company: "Groww",
    role: "SDE 1",
    description: "Contributing to react native (iOS) codebase",
    startDate: "Jul 2024",
    endDate: "Current",
    href: "https://groww.in",
    img: groww,
  },
  {
    company: "Groww",
    role: "SDE Intern",
    description: "Rebuilding CI infra and Core platform tasks for web",
    startDate: "Dec 2023",
    endDate: "Jun 2024",
    href: "https://groww.in",
    img: groww,
  },
  {
    company: "Plane",
    role: "Frontend Developer, Intern",
    description: "Crafting open source project management tool",
    startDate: "Mar 2023",
    endDate: "Apr 2023",
    href: "https://plane.so",
    img: plane,
  },
  {
    company: "MathonGo",
    role: "Frontend Developer, Intern",
    description: "Building online learning platform",
    startDate: "Sep 2022",
    endDate: "Dec 2022",
    href: "https://www.mathongo.com",
    img: mathongo,
  },
  {
    company: "Vaizle",
    role: "Software Developer, Intern",
    description: "Developing social media analytics tool",
    startDate: "Jul 2022",
    endDate: "Sep 2022",
    href: "https://vaizle.com",
    img: vaizle,
  },
];
---

<BaseLayout>
  <section class="my-20">
    <div class="font-serif text-5xl text-gray-800">
      <span class="text-gray-500">Hey,</span>
      I'm
      <div
        class="shadow-neutral border-gray-300/30align-text-top relative inline-block h-16 w-16 overflow-hidden rounded-2xl align-text-top"
      >
        <video
          id="avatar"
          autoplay
          muted
          loop
          class="absolute top-0 left-0"
          height="112"
          width="112"
          autoplay
          muted
          loop
        >
          <source src="/avatar.webm" type="video/webm" />
          <source src="/avatar.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>

        <div
          class="absolute top-[3px] left-[3px] z-20 h-[58px] w-[58px] rounded-[12px] border-[1.2px] border-gray-300/20 shadow-[0_.75px_.75px_#d1d5dc52_inset]"
        >
        </div>
      </div>
      Saheb <br />
      <span class="hero-text-gradient">a developer</span>
      <span class="text-gray-500">at</span>
      <div class="shadow-neutral mx-1 inline-block h-16 w-16 rounded-2xl align-text-top">
        <!-- <img src="https://oguzyagiz.com/images/hero/shopify.png" alt="" /> -->
        <Image src={growwLeather} height={512} width={512} alt="Groww" class="h-16 w-16 rounded-xl" />
      </div>
      Groww <br />
      <span class="text-gray-500">based in</span> Bangalore,
      <div class="shadow-neutral relative inline-block overflow-hidden rounded-[14px] align-text-top">
        <Image class="hero-cloud absolute -top-2" src={clouds} alt="map" height="51" width="83" />
        <div
          class="absolute top-[3px] left-[3px] z-20 h-[58px] w-[75px] rounded-[12px] border-[1.2px] border-gray-300/20 shadow-[0_.75px_.75px_#d1d5dc52_inset]"
        >
        </div>
        <Image height="64" width="81" alt="India" src={map} />
        <div class="absolute bottom-0 flex h-1/2 w-full flex-col justify-center bg-white/40 pl-2 font-sans text-[8px]">
          <p>Office</p>
          <p class="mt-0.5 text-gray-400">2 hours left</p>
        </div>
      </div>
      IN
    </div>
  </section>
  <section class="my-16">
    <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
      {featuredProjects.map(({ data }) => <Project {...data} />)}
    </div>
  </section>
  <section class="mt-28">
    <h2 class="mt-12 mb-6 text-2xl font-serif font-bold text-neutral-900 dark:text-neutral-50">Experience</h2>
    <div class="space-y-8">
      {
        workExperience.map((experience, index) => (
          <div class="flex flex-col sm:flex-row">
            <div class="text-neutral-500 text-sm w-40">
              <span>{experience.startDate}</span> -
              <span class:list={[index === 0 && "font-bold"]}>{experience.endDate}</span>
            </div>
            <div class="inline-flex items-center gap-2 mt-1.5 sm:mt-0">
              <span class="text-sm text-neutral-900 dark:text-neutral-50">{experience.role}</span>
              <span class="text-neutral-500 text-sm">at</span>
              <a class="inline-flex gap-1 group" href={experience.href} rel="noreferrer nofollow" target="_blank">
                <Image
                  class="w-5 h-5 rounded-md inline-block grayscale group-hover:grayscale-0 transition-all duration-300"
                  src={experience.img}
                  alt={experience.company}
                  height="28"
                  width="28"
                  title={experience.description}
                />
                <span class="text-sm text-neutral-500 group-hover:text-neutral-900 dark:group-hover:text-neutral-50 transition-all duration-500">
                  {experience.company}
                </span>
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
